@font-face {
  font-family: "iconfont"; /* Project id 3947314 */
  src: url('iconfont.woff2?t=1678669665762') format('woff2'),
       url('iconfont.woff?t=1678669665762') format('woff'),
       url('iconfont.ttf?t=1678669665762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tip:before {
  content: "\e690";
}

.icon-a-v05:before {
  content: "\e691";
}

.icon-a-v07:before {
  content: "\e692";
}

.icon-a-v08:before {
  content: "\e693";
}

.icon-a-v11:before {
  content: "\e694";
}

.icon-version-icon:before {
  content: "\e695";
}

.icon-a-v06:before {
  content: "\e696";
}

.icon-a-v12:before {
  content: "\e697";
}

.icon-a-v09:before {
  content: "\e698";
}

.icon-a-v13:before {
  content: "\e699";
}

.icon-a-v10:before {
  content: "\e69a";
}

.icon-menu:before {
  content: "\e68d";
}

.icon-qrcode_desc_left:before {
  content: "\e68e";
}

.icon-qrcode_desc_right:before {
  content: "\e68f";
}

.icon-expand:before {
  content: "\e689";
}

.icon-grey_arrow:before {
  content: "\e68a";
}

.icon-invite:before {
  content: "\e68b";
}

.icon-light_bulb:before {
  content: "\e68c";
}

.icon-code_btn:before {
  content: "\e678";
}

.icon-black_arrow:before {
  content: "\e679";
}

.icon-blue_arrow:before {
  content: "\e67a";
}

.icon-blue_arrow_pc:before {
  content: "\e67b";
}

.icon-exit_btn:before {
  content: "\e67c";
}

.icon-link_btn:before {
  content: "\e67d";
}

.icon-university_btn:before {
  content: "\e67d";
}

.icon-report_btn:before {
  content: "\e67e";
}

.icon-chatglm:before {
  content: "\e67f";
}

.icon-clock:before {
  content: "\e680";
}

.icon-close_pc:before {
  content: "\e681";
}

.icon-close_x:before {
  content: "\e682";
}

.icon-close:before {
  content: "\e683";
}

.icon-edit_copy1:before {
  content: "\e684";
}

.icon-dashed_arrow:before {
  content: "\e685";
}

.icon-danger:before {
  content: "\e686";
}

.icon-enter_icon:before {
  content: "\e688";
}

.icon-share:before {
  content: "\e677";
}

.icon-add:before {
  content: "\e66c";
}

.icon-stop_btn:before {
  content: "\e66d";
}

.icon-history:before {
  content: "\e66e";
}

.icon-delete:before {
  content: "\e66f";
}

.icon-copy:before {
  content: "\e670";
}

.icon-edit_copy:before {
  content: "\e671";
}

.icon-pen:before {
  content: "\e672";
}

.icon-topic:before {
  content: "\e673";
}

.icon-thumb_down:before {
  content: "\e674";
}

.icon-refresh:before {
  content: "\e675";
}

.icon-thumb_up:before {
  content: "\e676";
}

