.control___g12Hp {
  position: fixed;
  bottom: 220px;
  left: -42px;
  z-index: 100010;
  transition: all 0.2s;
}
.control___g12Hp.show___yNUY3 {
  left: 20px;
}
.control___g12Hp .show_status {
  position: absolute;
  top: 0px;
  right: -18px;
  width: 12px;
  height: 20px;
  cursor: pointer;
}
.control___g12Hp .show_status .gua {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control___g12Hp .show_status .gua .yao {
  width: 100%;
  height: 2px;
  background: #666;
  position: relative;
}
.control___g12Hp .show_status .gua .yao.yin {
  background: transparent;
}
.control___g12Hp .show_status .gua .yao.yin:before {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background: #666;
}
.control___g12Hp .show_status .gua .yao.yin:after {
  display: block;
  content: "";
  width: 5px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 0;
  background: #666;
}
.control___g12Hp .show_status.highlight .gua .yao {
  background: red;
}
.control___g12Hp .show_status.highlight .yao.yin {
  background: transparent;
}
.control___g12Hp .show_status.highlight .yao.yin:before {
  background: red;
}
.control___g12Hp .show_status.highlight .yao.yin:after {
  background: red;
}
.pageControl___K7hSX {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  border: 1px solid red;
  display: flex;
  background: #fff;
  color: red;
  transition: all 0.2s;
}
.pageControl___K7hSX .control_btn {
  position: absolute;
  top: 0;
  left: 1px;
  width: 40px;
  height: 20px;
  border-radius: 20px 20px 0 0;
  background: red;
  transition: all 0.5s;
  transform-origin: center bottom;
  cursor: pointer;
}
.pageControl___K7hSX .control_btn:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background: red;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: 10;
}
.pageControl___K7hSX .control_btn:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 5px solid red;
  border-radius: 50%;
  z-index: 10;
}
.pageControl___K7hSX .control_content {
  position: absolute;
  left: 32px;
  bottom: 50px;
  border: 1px solid #ccc;
  background: #fff;
}
.pageControl___K7hSX:hover .control_btn {
  transform: rotate(360deg);
}
.tab[data-v-4a94cac4] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab-title-container[data-v-fbe8fd4c] {
  text-align: left;
  box-sizing: border-box;
}
.van-tabs {
  position: relative;
}
[data-v-fbe8fd4c] .van-tabs__wrap {
  height: 44px !important;
  padding-left: 20px;
  overflow: hidden;
}
[data-v-fbe8fd4c] .van-tabs__nav--line {
  padding: 0 !important;
  border: none !important;
}
[data-v-fbe8fd4c] .van-tabs__nav {
  background: transparent !important;
  display: flex;
  padding: 0 4px;
  align-items: center;
  gap: 20px;
  user-select: none;
}
.van-tabs__wrap--scrollable .van-tabs__nav {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.van-tabs__nav--line {
  box-sizing: content-box;
  height: 100%;
  padding-bottom: 15px;
}
[data-v-fbe8fd4c] .van-tab {
  height: 28px !important;
  box-sizing: border-box;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  flex: 1 0 auto;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.van-tab--active {
  color: #323233;
  font-weight: 500;
}
[data-v-fbe8fd4c] .van-tabs__line {
  position: absolute;
  bottom: 6.5px;
  width: 16px;
  background-color: #2454ff;
  z-index: 1;
  height: 3px;
  border-radius: 3px;
  transform: translateX(33px) translateX(-50%);
}
.title-style {
  width: 70px;
  height: 20px;
  background-size: cover;
  color: var(--b-1, #1a2029);
  font-family: PingFang SC !important;
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}
